# Kevin

In [11]:
import os
from PIL import Image
import pandas as pd
from matplotlib import pyplot as plt
from IPython.display import clear_output

In [12]:
IMAGES_DIR = "."

###From: https://towardsdatascience.com/label-your-images-easily-using-this-jupyter-notebook-code-4102037b7821

def create_labels(path):

    labels = []
    path = path + '/'
    val_for = ['jpg', 'jpeg', 'png']
    img_list = os.listdir(path)
    img_list = [i for i in img_list if i.split('.')[-1] in val_for][1822:]
    
    num_images = len(img_list)
    index = 0
    
    for i in img_list:
        print(f'{index}/{num_images} (continued from 1822)')
        im = Image.open(path + i)
        plt.imshow(im)
        plt.show()
        inp = input()
        labels.append(int(inp))
        
        data = {'Image':img_list[0:index+1], 'Label':labels}
        df = pd.DataFrame(data)
        df.to_csv(f"{path}/labels_continued.csv") 
        
        clear_output(wait=True)
        index += 1
    
    print('\nlabels.csv saved!')
    return (df)

# For each image, input a number for whether the image is indoors/outdoors
## 0 = indoors
## 1 = outdoors, day
## 2 = outdoors, night

In [13]:
create_labels(f"{IMAGES_DIR}")

labels.csv saved!

              Image  Label
0    1286071189.jpg      1
1     457337766.jpg      1
2     145654079.jpg      1
3    4616183423.jpg      1
4    1439866786.jpg      0
..              ...    ...
673  4580354709.jpg      0
674  4556453005.jpg      2
675  1102453652.jpg      1
676  4543758233.jpg      0
677  4647900226.jpg      1

[678 rows x 2 columns]