In [1]:
import pandas as pd
import numpy as np
import gc
import swifter
from tqdm.auto import tqdm
import math
#import dask.dataframe as dd

latitude_dtype = np.int8
longitude_dtype = np.int16

### Process Image metadata

- Round the geocode for accuracy level to 111km
- Keep images 2007-2012
- Drop images with geocode as 0,0
- Store the result to csv to use with dask dataframes

In [2]:
import re
import datetime

def format_usaf(code):
    return str(int(re.sub('\D', '', str(code))))

def year_moda_to_date(year, moda):
    try:
        return datetime.datetime(year,int(moda[:-2]), int(moda[-2:])).date()
    except:
        return None

In [ ]:
#read and filter the images by accuracy for training?
df_images = pd.read_csv('data/photo_metadata.csv', 
                        usecols = ['id', 'latitude', 'longitude','date_taken'])

In [ ]:
df_images['latitude']=df_images['latitude'].round().astype(latitude_dtype)
df_images['longitude']=df_images['longitude'].round().astype(longitude_dtype)
df_images['geo'] = list(zip(df_images.latitude, df_images.longitude))

In [ ]:
#Filter out missing geocode values
#optimize how the rows are filtered to reduce memory usage
drop_indexes = df_images[(df_images.latitude==0)&(df_images.longitude==0)].index
df_images = df_images.drop(drop_indexes)
drop_indexes = None

In [ ]:
df_images['date_taken'] = pd.to_datetime(df_images['date_taken'], errors = 'coerce').map(lambda t: t.date())
df_images['date_taken_year'] = df_images['date_taken'].map(lambda t: t.year)

In [ ]:
df_images = df_images[df_images.date_taken_year.isin([2007,2008,2009,2010,2011,2012])]
#df_images = df_images[df_images.date_taken_year.isin([2007])]

In [ ]:
df_images.drop(columns=['date_taken_year'], inplace=True)

In [ ]:
df_images.info()

In [ ]:
df_images.to_pickle("data/images_2007_2012.pickle")

In [3]:
df_images = pd.read_pickle("data/images_2007_2012.pickle")

In [ ]:
#df_images.to_csv("data/images_processed.csv", index_label=False)

In [ ]:
#df_images = dd.read_csv("data/images_processed.csv")

### Process stations metadata

- Round the geocode for accuracy level to 111km
- Remove the stations that doesn't have any image
- Remove the stations without USAF

In [ ]:
station_df= pd.read_csv('data/isd-history.csv',
                        usecols = ['USAF', 'LAT', 'LON'])

In [ ]:
station_df.fillna(0, inplace=True)

In [ ]:
station_df['LAT']=station_df['LAT'].round().astype(latitude_dtype)
station_df['LON']=station_df['LON'].round().astype(longitude_dtype)
station_df['geo'] = list(zip(station_df.LAT, station_df.LON))

In [ ]:
#filter out the stations that doesn't have any image taken near by
print("Shape before filter", station_df.shape)

drop_indexes = station_df[~station_df.geo.isin(df_images.geo)].index
station_df = station_df.drop(drop_indexes)
drop_indexes = None

print("Shape after filter", station_df.shape)

In [ ]:
station_df = station_df[station_df['USAF']!='999999']

In [ ]:
station_df['USAF'] = station_df.USAF.swifter.progress_bar(True).apply(format_usaf)
station_df['USAF'] = station_df['USAF'].astype(int)
station_df.head(3)

In [ ]:
station_df.to_pickle("data/stations.pickle")

In [ ]:
station_df = pd.read_pickle("data/stations.pickle")

In [ ]:
#station_df.to_csv("data/station_processed.csv", index_label=False)

In [ ]:
#station_df = pd.read_csv("data/station_processed.csv")

In [ ]:
#station_df['USAF'] = station_df['USAF'].astype(int)

In [ ]:
station_df.info()

### Process Weather Data

- Drop the rows without STN code
- Create date field from year, moda fields
- Merge Wether data with stations data
- Keep one weather measures per geo per day

In [ ]:
weather_df = pd.read_pickle("data/weather_2007_2012.pkl")

In [ ]:
weather_df = weather_df.astype({'STN':int, 'YEAR':'int16', 'MODA':'int16',
                                'TEMP':float,'DEWP':float,'SLP':float,
                                'VISIB':float, 'WDSP':float, 'PRCP':float, 'SNDP':float})

In [ ]:
weather_df.info()
#24635200
#21697189

In [ ]:
weather_df.reset_index(drop=True)
weather_df.head()

In [ ]:
weather_df = weather_df[weather_df['STN']!=999999]

In [ ]:
#weather_df = weather_df[['STN', 'YEAR', 'MODA','TEMP','DEWP', 'SLP','VISIB', 'WDSP','PRCP', 'SNDP']]

In [ ]:
#weather_df['STN']=weather_df.swifter.progress_bar(True).apply(lambda x: format_usaf(str(x.STN)), axis=1)
#weather_df['STN']=weather_df['STN'].apply(format_usaf)

In [ ]:
weather_df = weather_df[weather_df.STN.isin(station_df.USAF)]#.head(100000)

In [ ]:
weather_df['date'] = weather_df.swifter.progress_bar(True).apply(lambda x: year_moda_to_date(int(x.YEAR), str(int(x.MODA))), axis=1)
#weather_df['date'] = weather_df.apply(lambda x: year_moda_to_date(x.YEAR, str(x.MODA)), axis=1)
weather_df.head()

In [ ]:
weather_df.drop(columns=['YEAR', 'MODA'], inplace=True)

In [ ]:
weather_df.to_pickle("data/weather_2007_2012_processed.pkl")

In [ ]:
#weather_df.to_csv("data/weather_2007_2012_processed.csv", index_label=False)

In [ ]:
weather_df = pd.read_pickle("data/weather_2007_2012_processed.pkl")

In [ ]:
del(weather_df)

In [ ]:
#weather_df = pd.read_csv("data/weather_2007_2012_processed.csv")

In [ ]:
weather_merged = pd.merge(station_df, weather_df,  how='inner', left_on=['USAF'], right_on = ['STN'])

In [ ]:
#weather_merged.to_csv("data/weather_merged.csv", index=False)

In [ ]:
weather_merged.to_pickle("data/weather_merged.pkl")

In [4]:
weather_merged = pd.read_pickle("data/weather_merged.pkl")

In [ ]:
#weather_merged = dd.read_csv("data/weather_station_2007_2012.csv/*.part", usecols=['USAF', 'LAT','LON','STN', 'TEMP', 'DEWP', 'SLP', 'VISIB', 'WDSP', 'PRCP', 'SNDP', 'date'])

In [ ]:
del(station_df)
del(weather_df)
gc.collect()

In [5]:
weather_merged = weather_merged.groupby(by=['LAT','LON','date']).first().reset_index()

In [9]:
weather_merged.head()

,LAT,LON,date,USAF,STN,TEMP,DEWP,SLP,VISIB,WDSP,PRCP,SNDP
0,-90,0,2007-01-01,890090,890090,-3.1,9999.9,9999.9,7.0,8.7,99.99,999.9
1,-90,0,2007-01-02,890090,890090,-18.1,9999.9,9999.9,7.0,10.3,0.00,999.9
2,-90,0,2007-01-03,890090,890090,-20.2,9999.9,9999.9,7.0,4.6,0.00,999.9
3,-90,0,2007-01-04,890090,890090,-17.1,9999.9,9999.9,7.0,8.6,0.00,999.9
4,-90,0,2007-01-05,890090,890090,-15.4,9999.9,9999.9,7.0,9.2,0.00,999.9

In [15]:
#weather_merged['LAT']=weather_merged['LAT'].round().astype(latitude_dtype)
#weather_merged['LON']=weather_merged['LON'].round().astype(longitude_dtype)

In [24]:
weather_merged['date'] = pd.to_datetime(weather_merged['date'], errors = 'coerce').map(lambda t: t.date())

In [27]:
weather_merged.to_pickle("data/weather_station_2007_2012.pickle")

In [8]:
weather_merged = pd.read_pickle("data/weather_station_2007_2012.pickle")

In [28]:
weather_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8004380 entries, 0 to 8004379
Data columns (total 12 columns):
 #   Column  Dtype
---  ------  -----
 0   LAT     int8
 1   LON     int16
 2   date    object
 3   USAF    int64
 4   STN     int64
 5   TEMP    float64
 6   DEWP    float64
 7   SLP     float64
 8   VISIB   float64
 9   WDSP    float64
 10  PRCP    float64
 11  SNDP    float64
dtypes: float64(7), int16(1), int64(2), int8(1), object(1)
memory usage: 633.6+ MB

### Merge weather data to Images metadata

In [30]:
img_weather = pd.merge(df_images, weather_merged,  how='inner', left_on=['latitude', 'longitude','date_taken'], right_on = ['LAT','LON','date'])

In [36]:
img_weather.head()

,id,date,LAT,LON,STN,TEMP,DEWP,SLP,VISIB,WDSP,PRCP,SNDP
0,3873511228,2008-04-04,30,-90,722310,76.8,70.9,1012.7,9.8,10.6,0.0,999.9
1,2402567418,2008-04-04,30,-90,722310,76.8,70.9,1012.7,9.8,10.6,0.0,999.9
2,2402522842,2008-04-04,30,-90,722310,76.8,70.9,1012.7,9.8,10.6,0.0,999.9
3,2398985741,2008-04-04,30,-90,722310,76.8,70.9,1012.7,9.8,10.6,0.0,999.9
4,2414013937,2008-04-04,30,-90,722310,76.8,70.9,1012.7,9.8,10.6,0.0,999.9

In [34]:
img_weather.columns

Index(['id', 'latitude', 'longitude', 'date_taken', 'LAT', 'LON', 'date',
       'USAF', 'STN', 'TEMP', 'DEWP', 'SLP', 'VISIB', 'WDSP', 'PRCP', 'SNDP'],
      dtype='object')

In [35]:
img_weather = img_weather[['id', 'date', 'LAT', 'LON', 'STN', 'TEMP', 'DEWP', 'SLP', 'VISIB', 'WDSP', 'PRCP', 'SNDP']]

In [42]:
img_weather.to_csv("data/img_weather_2007_2012.csv", index=False)

In [43]:
img_weather.to_pickle("data/img_weather_2007_2012.pickle")

# Charts

In [ ]:
!pip install geopandas

In [ ]:
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt

In [ ]:
import descartes

In [ ]:
df_images.head()

In [ ]:
df_images.count()

In [ ]:
import datetime

In [ ]:
def datecast(strdate):
    try:
        return datetime.datetime.strptime(strdate, "%Y-%m-%d %H:%M:%S").date()
    except ValueError:
        return None

def get_date_diff(d1):
    return (datetime.date.today()-d1).days

In [ ]:
df_images['dt_date_taken'] = df_images['date_taken'].apply(datecast)

In [ ]:
df_images['Gap between taken and upload'] = df_images['dt_date_taken'].apply(get_date_diff)

In [ ]:
# Creating histogram
from matplotlib import pyplot as plt
fig, ax = plt.subplots(figsize =(10, 7))
ax.hist(df_images['Gap between taken and upload'],edgecolor='black', align="mid",bins=[2000,3000,4000,5000,6000,7000,8000,9000,10000])
 
# Adding extra features   
plt.xlabel("Age of image(in days)")
plt.ylabel("Number of Images")
plt.title('Distribution of age of images')
#plt.xlim(0, 5000)
# Show plot
plt.show()

In [ ]:
# Creating histogram
from matplotlib import pyplot as plt
fig, ax = plt.subplots(figsize =(10, 7))
ax.hist(df_images['accuracy'],edgecolor='black', align="mid",)
 
# Adding extra features   
plt.xlabel("Accuracy level")
plt.ylabel("Number of Images")
plt.title('Distribution of accuracy level- World level is 1, Country is ~3, Region ~6, City ~11, Street ~16')
# Show plot
plt.show()

In [ ]:
# Creating histogram
from matplotlib import pyplot as plt
fig, ax = plt.subplots(figsize =(10, 7))
ax.hist(df_images['views'], bins=[0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100])
 
# Adding extra features   
plt.xlabel("Views")
plt.ylabel("# of Records")
plt.title('Distribution of views of images')
plt.xlim(0, 200)
#plt.ylim(0, 1000000)
# Show plot
plt.show()

In [ ]:
location=[Point(xy) for xy in zip(df_images["longitude"],df_images["latitude"])]
location[:3]

In [ ]:
crs={'init':'epsg:4326'}

In [ ]:
geo_df=gpd.GeoDataFrame(df_images,crs=crs,geometry=location)
geo_df.head()

In [ ]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
geo_df.plot(ax=world.plot(figsize=(20, 16)),markersize=2,color="red",marker=".")